.halaman-satu {
  background-color: #F1F3FF;
  height: auto;
  padding-top: 30px;
}

.halaman-atas{
  margin-bottom: 100px;
}

.h1-title {
  padding: 30px;
  margin-left: 50px;
}

.container-fluid {
  position: absolute;
  background-color: #F1F3FF;
  padding: 5%;
}

.navbar-brand {
  background-color: #0D28A6;
  width: 100px;
  height: 34px;
  margin-left: 136px;
  margin-top: 25px;
}

.navbar-nav {
  margin-top: 20px;
  margin-left: 500px;
  font-family: Helvetica;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.selamat {
  margin-top: 30px;
}

.mobil {
  position: absolute;
  height: auto;
  width: 45%;
  top: 150px;
}

@media only screen and (max-width: 992px) {
  .mobil {
    position: absolute;
    margin-left: 0px;
    margin-right: 1000px;
  }
}


@media only screen and (min-width: 1024px) {
  .mobil {
    left: 740px;
  }
}