@import "halaman1.css";

.nav-item {
  margin-left: 30px;
  color: black;
}

h1 {
  font-size: 36px;
  font-family: Helvetica;
}

/* Section Halaman-Tengah */
#halaman-tengah {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
}
.orang {
  width: 75%;
  height: auto;
}

.h1-halaman-tengah {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.p-halaman-tengah {
  margin-top: 30px;
  font-family: Helvetica;
  font-size: 14px;
}

.list-product {
  list-style: none;
  margin-top: 20px;
  font-size: 14px;
}

.list-product:before {
  content: '\2713';
  color: black;
  padding: 3px 8px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #CFD4ED;
}

/* Halaman Ketiga */
#halaman-ketiga {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
}

.why {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  margin-top: 20px;
}

.col {
  margin-bottom: 30px;
}

.card-title {
  font-family: Helvetica;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
}

.card-text {
  font-family: Helvetica;
  font-style: Light;
  font-size: 14px;
  line-height: 20px;
}

.icon-jempol {
  margin-right: 200px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: yellow;
  border-radius: 50%;
  padding: 5px 3px;
}

.icon-tag {
  margin-right: 200px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #FA2C5A;
  border-radius: 50%;
  color: white;
  padding: 5px 3px
}

.icon-clock {
  margin-right: 200px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #0D28A6;
  border-radius: 50%;
  color: white;
  padding: 5px 3px;
}

.icon-award {
  margin-right: 200px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #5CB85F;
  border-radius: 50%;
  color: white;
  padding: 5px 3px;
}
/* section 4 */
#halaman-keempat {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
  padding-bottom: 5%;
}

.testi-keempat {
  text-align: center;
  margin-bottom: 30px;
}

.testi-card {
  background-color: #F1F3FF;
  width: 619px;
  height: 270px;
  left: 410px;
  top: 1652px;
  margin: auto;
}

.card-title {
  margin-top: 40px;
}

.john {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 40px;
  margin-top: 30px;
  margin-left: 10px;
  float: left;
}

.icon-star {
  display: inline-block;
  color: yellow;
}

.testi-paragraf-1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.testi-paragraf {
  margin-left: 130px;
  font-weight: bold;
}

.tombol{
  margin-top: 20px;
  margin-left: 500px;
  padding: 1px;
  border-radius: 50%;

}

.tombol-2{
padding: 1px;
border-radius: 50%;
background-color: #5CB85F;

}

/* section 5 */
#halaman-kelima {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #FFF;
}

.kartu-h5{
  width: auto;
  height: 326px;
  background-color:#0D28A6;
  border-radius: 13px;
  text-align: center;
  margin: auto;
  color: #ffff;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 10%;
}

.accordion-item{
  margin-top: 10px;
}

#footer{
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 5%;
  background-color: #FFF;
}

.square{

width: 100px;
height: 34px;
background: #0D28A6;
}


.fa-logo{
  margin-right: 200px;
  margin-top: 30px;
  margin-left: 20px;
  background-color: yellow;
  border-radius: 50%;
  padding: 5px 3px;
}


/* biar scroll nya smooth pas klik button */
html {
  scroll-behavior: smooth;
}
